
body {
	color:black;
	background-color:#FFFFFF;

}
header,
nav,
main,
footer {
    padding: 1em 0;
}

.header {
  border: 10px outset;
  border-top-color: #16DB93;
  border-bottom-color: #A4036F;
  border-left-color: #EFEA5A;
  border-right-color: #FE5E41;
  width: 99%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  background: #FFFFFF;
}

 img ,#spacer{
  width: 80px;
  
}

.header-text {
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center;
  color: #466620;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}


#divCentral {
    display: flex;
	justify-content: space-between;
	align-items: stretch;
    margin: auto;
	box-sizing: border-box;
	height: 100%;
}


    font-family: "Times New Roman", cursive;
}
.menu {
	
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto 
    display: flex;                /* Transformation en flexbox */
    background-color: #862917;       /* Ajout de la couleur d'arrière-plan */
/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
  
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 150px;             /* Largeur minimale des liens */   
    
    margin: 0.4rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #178624;    /* Arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */
    
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #000 ; 
    color: #862917 ;
    border-color: #862917;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
}


main {
   border: 5px ridge #076E12;
   border-radius: 7px;
	flex : 6;
    background-color: #FFFFFF;
    padding-left: 1em;
    font-family: "Times New Roman", cursive;
  text-align: center;
}

footer {
  	display: flex;
	justify-content: space-around;
    background-color: #38761D;
    border-radius: 1em;
color:#FFFFFF;

}
table.greenTable {
  font-family: Georgia, serif;
  border: 6px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #24943A;
  padding: 3px 2px;
}
table.greenTable tbody td {
  font-size: 13px;
}
table.greenTable thead {
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-bottom: 0px solid #444444;
}
table.greenTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #24943A;
}
table.greenTable thead th:first-child {
  border-left: none;
}

table.greenTable tfoot {
  font-size: 13px;
  font-weight: bold;
  color: #F0F0F0;
  background: #24943A;
  background: -moz-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: -webkit-linear-gradient(top, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  background: linear-gradient(to bottom, #5baf6b 0%, #3a9e4d 66%, #24943A 100%);
  border-top: 1px solid #24943A;
}
table.greenTable tfoot td {
  font-size: 13px;
}
table.greenTable tfoot .links {
  text-align: right;
}
table.greenTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #24943A;
  padding: 2px 8px;
  border-radius: 5px;
}



